<div class="centered-container">
  <h1>Você não receberá mais os informativos mensais no e-mail <%= @user.email %>.</h1>
  <a href="/">
    <button class="btn" type="button">
      Ir para a home
    </button>
  </a>
</div>
